<!DOCTYPE html>
<html>
  <head>
    <title> Welcome {{name}} </title>
  </head>

  <body style="background_color: lightsteelblue" align="center">
    <h1> Welcome {{name}}! </h1>
    <image src={{img_url}} alt="Profile Icon">
    <p> Summoner Level: {{summ_level}} </p>
    <p> Summoner Id: {{summId}} </p>
    <br><br>
    <h2> Rank Info: </h2>
    <p> <b>Rank:</b> {{leagueName}} <b> {{tier}} {{rank}}</b> </p>
    <p> <b>Wins:</b> {{wins}} </p>
    <p> <b>Losses:</b> {{losses}} </p>
    <p> <b>League Points:</b> {{leaguePoints}} </p>
  </body>

</html>
